# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: Cloud Run app URL
APP_URL="MY_APP_URL"

# Cognee Engine Configuration
LLM_API_KEY=""
COGNEE_LOCAL_EMBEDDING="gliner"

# DLT Connectors
JIRA_SUBDOMAIN="acme-payments"
JIRA_EMAIL="eng@acme.dev"
JIRA_API_TOKEN=""
VERCEL_API_TOKEN=""
SENTRY_AUTH_TOKEN=""
POSTHOG_PERSONAL_API_KEY=""
